body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Round_skyscraper_corner_%28Unsplash%29.jpg/1200px-Round_skyscraper_corner_%28Unsplash%29.jpg);
    margin: 0%;
    padding:0%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
fieldset {
         width: 30%;
         margin: auto;
         margin-top: 10%;
         text-align: center;
         background-color: rgba(200, 200, 200, 0.7);
         border: none;
         height: 350px;
         box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
     }

     p {
        text-align: left;
     }
     input {
        width: 80%;
        padding: 10px;
        border-radius: 9px;
        border: none;
     }
     button {
         width: 85%;
         padding: 10px;
         background-color: purple;
         border: none;
         border-radius: 18px;
         color: white;
}

